/* Menu */

header {
  background-color: var(--branco-primario);
}

nav #nav-bar li {
  padding: 10px;
  text-align: center;
}

nav #nav-bar li a {
  text-decoration: none;
  font-weight: bold;
  color: var(--preto);
  font-size: 18pt;
}

nav #nav-bar li a:hover {
  color: var(--roxo-secundario-claro);
  transition-duration: 0.5s;
}

.logo-mobile{
  display: none;
}