/**Rodapé*/
#footer {
  background-color: var(--roxo-primario-escuro);
  color: var(--branco-primario);
  margin: 0px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#footer p {
  text-align: center;
}

#Redes {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

#Redes img {
  padding: 5px;
  height: 45px;
  margin: 5px;
}

#Redes .facebook img:hover {
  background-color: rgba(0, 0, 255, 0.144);
  border-radius: 60%;
  transition: transform 0.5s;
  transform: scale(1.2);
}

#Redes .instagram img:hover {
  transform: scale(1.1);
  background-color: rgba(255, 0, 234, 0.144);
  border-radius: 60%;
  transition: transform 0.5s;
  transform: scale(1.2);
}

#Redes .linkedin img:hover {
  transform: scale(1.1);
  background-color: rgba(0, 195, 255, 0.144);
  border-radius: 60%;
  transition: transform 0.5s;
  transform: scale(1.2);
}

#footer .coracao {
  animation: pulse 0.7s infinite;
  animation-direction: alternate;
  animation-name: pulse;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}
