@import url("css/fonts.css");
@import url("css/menu.css");
@import url("css/rodape.css");

:root {
  --branco-primario: #fafafa;
  --branco-secundario: #fff;
  --roxo-primario-escuro: #1d0157;
  --roxo-secundario-escuro: #9965f4a9;
  --roxo-primario-claro: #bf98f0;
  --roxo-secundario-claro: #aa78ff;
  --roxo-terciario-claro: #7d64fce0;
  --rosa: #ff00d4;
  --rosa-secundario: #ff1cff94;
  --rosa-terciario: #d13282e0;
  --azul: #1876f2e0;
  --azul-secundario: #0277b5e0;
  --preto: #121212;
  --cinza: #fafafa94;
}

* {
  margin: 0px;
  padding: 0px;
}

*::-webkit-scrollbar {
  background-color: var(--roxo-secundario-claro);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--roxo-primario-escuro);
  border-radius: 20px;
  border: 3px solid var(--roxo-secundario-claro);
}

/* Quebras de linha*/
.branco {
  border-color: var(--branco-primario);
  border-width: 100%;
}

.roxo {
  border-color: var(--roxo-primario-escuro);
  border-width: 100%;
}

.Claro {
  margin: 0;
  padding: 0;
  border: 1px var(--branco-primario) solid;
  width: 100%;
}

#banner-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--roxo-primario-escuro);
}

#home-mobile {
  display: none;
  min-height: 100vh;
  background-color: var(--roxo-primario-escuro);
}

.wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
  min-width: 500px;
}

.wrapper .texto-dinamico {
  margin-left: 15px;
  height: 50px;
}

.wrapper .texto-estatico {
  color: var(--branco-primario);
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
}

.texto-dinamico li {
  color: var(--rosa);
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  font-size: 60px;
  position: relative;
  top: 0px;
  animation: slide 8s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.wrapper .texto-dinamico li::after {
  content: "";
  position: absolute;
  left: 0;
  background-color: var(--roxo-primario-escuro);
  width: 100%;
  height: 100%;
  border-left: 2px solid var(--rosa);
  animation: type 2s steps(14) infinite;
}

@keyframes type {
  40%,
  60% {
    left: 95%;
  }
  100% {
    left: 0%;
  }
}

.wrapper .texto-dinamico li:nth-of-type(4)::after {
  animation-name: type-ft;
  animation-timing-function: steps(15);
}

@keyframes type-ft {
  40%,
  60% {
    left: 105%;
  }
  100% {
    left: 0%;
  }
}

.row {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.row p {
  width: 95%;
}

#servicos-home {
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  background-color: var(--roxo-primario-escuro);
  color: var(--branco-primario);
}

#contatos-home p {
  text-align: center;
}

/* Botões*/

.escuro {
  background-color: var(--roxo-primario-escuro);
  color: var(--branco-primario);
  border: 0;
  margin: 3px;
  border-radius: 15px;
  font-family: "montserrat-light";
  font-size: 14pt;
  height: 40px;
  width: 200px;
  margin-bottom: 3%;
}

.escuro:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px var(--rosa-secundario);
}

.escuro:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px var(--rosa-secundario);
}

.claro {
  background-color: var(--roxo-primario-claro);
  color: var(--preto);
  border: 0;
  margin: 3px;
  border-radius: 15px;
  font-family: "montserrat-light";
  font-size: 14pt;
  height: 40px;
  width: 200px;
}

.claro:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px var(--cinza);
}

.claro:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px var(--cinza);
}

/* SERVIÇOS */

#servicos #texto-servicos {
  text-align: center;
  background-color: var(--roxo-primario-escuro);
  color: var(--branco-secundario);
}

#servicos #texto-servicos p {
  text-align: center;
  font-size: 18pt;
  padding: 5px;
}

#servicos #texto-servicos h3 {
  padding: 15px;
}

#carta-servicos {
  background-color: var(--branco-primario);
}

#carta-servicos .card {
  margin: 0.625rem;
  min-height: 650px;
  min-width: 24%;
}

.card {
  height: 30rem;
  margin-top: 2%;
}

#carta-servicos .card:hover {
  border-color: var(--roxo-primario-escuro);
}

#carta-servicos .card p {
  text-align: center;
  font-size: medium;
}

#servicos #portifolio {
  background-color: var(--roxo-primario-escuro);
  color: var(--branco-primario);
}

#servicos #portifolio #texto h3 {
  padding: 15px;
}

#servicos #portifolio #clientes .card {
  margin: 0.625rem;
  min-height: 555px;
  min-width: 15%;
}

#portifolio #clientes .card a {
  background-color: var(--roxo-primario-escuro);
  margin: 3px;
  border-radius: 15px;
  border: var(--roxo-primario-escuro);
}

#portifolio #clientes .card a:hover {
  transform: scale(1.2);
}

/*LOCALIZAÇÃO*/

#texto-localizacao {
  background-color: var(--roxo-primario-escuro);
  color: var(--branco-primario);
  padding: 5px;
  text-align: center;
}

#texto-localizacao h3 {
  padding-top: 2%;
}

#texto-localizacao h4 {
  padding-top: 2%;
  padding-bottom: 2%;
}

#maps p {
  text-align: center;
}

#maps h4 {
  padding: 15px;
}

#maps iframe {
  width: 85%;
  height: 85vh;
  border: 0px;
}

/*CONTATO*/

.contatos {
  background-color: var(--roxo-primario-escuro);
  color: var(--branco-primario);
  padding: 2%;
}
.contatos .col h3 {
  padding: 3%;
}

.contato {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

.contato a {
  color: var(--roxo-primario-claro);
}

#email img,
#telefone img {
  width: 150px;
}

#email img:hover,
#telefone img:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
  transform: scale(1.2);
}

#forms {
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 5%;
  border: 1px solid var(--roxo-primario-escuro);
  border-radius: 5px;
}

.form-group {
  text-align: left;
  padding: 3%;
}

.form-group input {
  border: 2px solid var(--roxo-primario-escuro);
  margin-top: 1%;
}

.btn-primary {
  min-width: 55%;
  background-color: var(--roxo-primario-escuro);
  border: var(--roxo-primario-escuro);
  margin-top: 5%;
  margin-bottom: 5%;
}

.btn-animation {
  transition: transform 0.3s;
}

.btn-animation:hover {
  background-color: var(--roxo-secundario-claro);
  transform: scale(1.2);
}

.btn-animation:active {
  background-color: var(--roxo-secundario-claro);
}

/*SOBRE NÓS*/

#sobre-nos #texto-img {
  background-color: var(--roxo-primario-escuro);
  color: var(--branco-primario);
  border-top: 2px;
  border-color: var(--roxo-primario-claro);
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#sobre-nos #texto .frase {
  text-align: center;
  color: var(--roxo-primario-escuro);
}

#galeria-membros {
  margin: 0px;
  padding: 0px;
  color: var(--branco-primario);
}

#galeria-membros .row,
#galeria-membros .col {
  background-color: var(--roxo-primario-escuro);
}

#galeria-membros .row h3,
p {
  padding: 10px;
  text-align: center;
}

#diretoria-stafs .card,
#trainees-learner .card,
#professores .card {
  margin: 0.625rem;
  height: calc(100% / 3);
  min-width: 30%;
}

.instagram img,
.facebook img,
.linkedin img,
.github img {
  padding: 5px;
  height: 45px;
  margin: 5px;
}

.instagram img:hover {
  transform: scale(1.1);
  background-color: var(--rosa-terciario);
  border-radius: 60%;
  transition: transform 0.5s;
  transform: scale(1.2);
}

.facebook img:hover {
  background-color: var(--azul);
  border-radius: 60%;
  transition: transform 0.5s;
  transform: scale(1.2);
}

.linkedin img:hover {
  transform: scale(1.1);
  background-color: var(--azul-secundario);
  border-radius: 60%;
  transition: transform 0.5s;
  transform: scale(1.2);
}

.github img:hover {
  transform: scale(1.1);
  background-color: var(--roxo-terciario-claro);
  border-radius: 60%;
  transition: transform 0.5s;
  transform: scale(1.2);
}

.swiper-slide img {
  width: 100%;
}

.swiper-pagination {
  position: initial;
  margin: 0.5em 0;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

@media (max-width: 760px) {
  #banner-home {
    display: none;
  }

  #home-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
  }

  .row {
    flex-direction: column;
  }

  #servicos-home {
    flex-direction: column;
  }

  .logo-marca {
    display: none;
  }

  .logo-mobile {
    display: block;
  }

  #forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    width: 75%;
  }

  @media (max-width: 340px) {
    img.mobile-gif {
      width: 220px;
    }
  }
}
